# Binários
/web
/bin/
*.exe

# Banco de dados
data/copa.db
data/copa.db-shm
data/copa.db-wal

dump_copa_2026.sql

# Ambiente
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db
*.db
